<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MyMapper">
    <select id="selectNextAvailableLink" resultType="String">
        SELECT link
        FROM LINKS_TO_BE_PROCESSED
        LIMIT 1
    </select>
    <delete id="deleteProcessedLink" parameterType="String">
        DELETE
        FROM LINKS_TO_BE_PROCESSED
        WHERE LINK = #{link}
    </delete>
    <insert id="insertNews" parameterType="com.github.hcsp.News">
        INSERT INTO NEWS (TITLE, CONTENT, URL, CREATED_AT, MODIFIED_AT)
        values (#{title}, #{content}, #{url}, now(), now())
    </insert>
    <select id="countLink" parameterType="String" resultType="int">
        SELECT count(link)
        FROM LINKS_ALREADY_PROCESSED
        WHERE link = #{link}
    </select>
    <insert id="insertLink" parameterType="HashMap">
        INSERT INTO
        <choose>
            <when test="tableName == 'links_to_be_processed'">
                LINKS_TO_BE_PROCESSED
            </when>
            <when test="tableName == 'links_already_processed'">
                LINKS_ALREADY_PROCESSED
            </when>
            <otherwise>
                LINKS_FAILED_PROCESSED
            </otherwise>
        </choose>
        (link)
        values
        (#{link})
    </insert>
</mapper>